body {
    background-image: linear-gradient(rgb(234, 246, 246), rgb(249, 249, 249), rgba(0, 51, 124,0.3));
}

header {
    background-color: #13005A;
}

header ul {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}

header li {
    display: inline-block;
    padding: 1%;
}

header a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}

header a:hover {
    border-left: 0.2rem solid aliceblue;
}

.mainSection {
    /* border-style: solid; */
    background-image: url(../images/addContent/background1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 150%;
    color: beige;
    padding: 1em;
    text-align: justify; 
    /* margin: 10%; */
}

.mainSection span {
    background-color: rgb(3, 201, 136, 0.3);
}

section #textMainSection {
    margin: 5%;
}

h2 {
    font-family: 'Gloock', sans-serif;
    text-align: center;
    text-shadow: #13005A;
    color: #00337C;
    font-size: 150%;
}

.subtitleTips {
    font-family: 'Roboto', sans-serif;
    color: #13005A;
    font-weight: bold;
}

section p:not(#textMainSection) {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: 'Lato', sans-serif;
}

footer{
    border-top: double rgba(0, 51, 124, 0.4);
    border-bottom: double rgba(0, 51, 124, 0.4);
}

footer p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}